body {
    background-color: #fbfbff;
    font-family: Verdana, serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color: black;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    border-bottom: 3px solid #ff6a00;
    }

.signup {
    color: dodgerblue;
    text-align: center;
}

.login{
    color: #ff0000;
    text-align: center;
}

.boxes {
    color: seagreen;
    text-align: center;
}

.column {
    float: left;
    width: 33.33%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}